
.box-contador>.boxCount{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.box-contador>.boxCount>div{
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
}
.box-contador>.boxCount div:nth-child(1),.box-contador>.boxCount div:nth-child(3){
    cursor: pointer;
    color: #2596be;
    user-select:none;
}
.box-contador>.boxCount div:nth-child(1):hover,.box-contador>.boxCount div:nth-child(3):hover{
    background: #ACE5EE;
}
/*.box-contador>.boxCount div:nth-child(2){}*/